@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.div1{
  height: 100vh;
  width: 50vh;
  margin-left: 30%;
  
  
}
.top-section{
  background-color: #fb4e71;
  
}
.name{
  color: white;
  font-size: 25px;
  font-family: "roboto";
  font-weight: bold;
  padding-top: 20px;
  padding-left: 20px;
}
.paragraph{
  color: white;
  font-size: 15px;
  font-family: "roboto";
  font-weight: 300;
  padding-left: 20px;
}
.image1{
  padding: 20px;
  background-size: cover;
}
.bottom-section{
  background-color: #e6f6ff;
}
.ipl,.videos{
  color: #323f4b;
  font-size: 30px;
  font-family: "roboto";
  font-weight: bold;
  padding: 20px;
}
.card-vs{
  background-color: #ffffff;
  border-radius: 15px;
  margin: 20px;
}
.vs{
  color: #323f4b;
  font-size: 25px;
  font-family: "roboto";
  font-weight: 500;
  padding: 10px;
}
.score{
  color: #888888;
  font-size: 15px;
  font-family: "roboto";
  font-weight: 400;
  padding-left: 10px;
  margin-top: 0px;
}
.surya{
  width: 139px;
  margin: -15px;
  padding: 20px;

}
.image3,.image4,.image5{
  padding: 20px;
  margin-top: 0px;
}
.kl,.six,.single{
  color: #888888;
  font-size: 15px;
  font-family: "roboto";
  font-weight: 200;
  padding-left: 20px;
}
.bottom,.five{
  width: 139px;
  margin:-15px;
  padding: 20px;
}
.button{
  border-radius: 10px;
  margin-left: 30%;
  height: 38px;
  width: 150px;
  border-width: 0px;

}
